/* General Styles */
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
.six-banner{
  height: 462px;
  line-height: 462px;
  background-color: #000000;
  position: relative;
}
.six-banner::after{
  content: "6thSense";
  font-size: 80px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 8%;
  color: #fff;
  font-weight: bold;
  margin-left: calc(25% - 175px);
}
.six-banner .logo-box{
  height: 100%;
}
.six-banner .banner-img{
  background-position: center right;
  height: 100%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  border-right-width: 0;
  border-left-width: 0;
  position: relative;
  transition: all 300ms ease-in-out;
  -webkit-clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0% 100%);
}
.navi-row,
.navi-row .col{
  height: 50px;
  line-height: 50px;
}
.navi-row a{
  text-align: center;
  color: #fff;
  min-width: 20px;
  padding: 0 10px;
  line-height: inherit;
  display: inline-block;
}
.navi-row a:hover{
  background-color: #3B5C6A;
}
.navi-row .col:first-child{
  border-left-width: 0;
}
.navi-row .col:last-child{
  border-right-width: 0;
}
.navi-row.sticky-navi.stuck{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  display: none;
}
.block-title{
  border-bottom: 1px solid gainsboro;
}
.form-group {
  display: block;
  margin: 10px 0;
  line-height: 20px;
}
.form-group input[type=password],
.form-group input[type=text],
.form-group input[type=email],
.form-group textarea {
	font-size: 1em;
	background-color: #f9f0af;
	border: 1px solid gainsboro;
	width: 100%;
	line-height: 20px;
	min-height: 20px;
	text-indent: 10px;
}
.six-register { 
	border: 2px solid #000;
	border-radius: 5px;
	padding: 20px;
}
.btn-register:hover {
    color: #FFFFFF;
    border-color: #6a353d;
    background: -webkit-linear-gradient(#6a353d,#b76e79);
    background: -o-linear-gradient(#6a353d,#b76e79);
    background: -moz-linear-gradient(#6a353d,#b76e79);
    background: linear-gradient(#6a353d,#b76e79);
}
.btn-register {
    color: #FFFFFF;
    border-color: #b76e79;
    background: -webkit-linear-gradient(#b76e79,#6a353d);
    background: -o-linear-gradient(#b76e79,#6a353d);
    background: -moz-linear-gradient(#b76e79,#6a353d);
    background: linear-gradient(#b76e79,#6a353d);
    line-height: 30px;
    min-height: 30px;

}
@media screen and (min-width: 1200px){
}
@media screen and (min-width: 725px) and (max-width: 1200px) {
}
@media screen and (min-width: 0px) and (max-width: 725px) {
  .six-banner .banner-img{
    background-position: center center;
  }
}
.bg-tri-1{
  background-color: #6A353D;
}
.bg-tri-2{
  background-color: #C3C089;
}
.bg-tri-3{
  background-color: #B76E79;
}
.bg-tri-4{
  background-color: #427084;
}
.bg-tri-5{
  background-color: #3B5C6A;
}
